body{
	background-color: #A0FAEF;
	margin: 0 auto;
	text-align: center;
}
#logo{
	text-align: center;
	background-color: #284665;
	width: 30%;
	margin: 5% auto;
	border-radius: 10px;
}
#logo img{
	width: 100%;
	padding: 8% 8% 8% 8%;
}